{% spaceless %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {% for url in urls %}
        <url>
            <loc>{{ url.url }}</loc>
            <image:image>
                <image:loc>{{ url.img }}</image:loc>
                <image:title>{{ url.name }}</image:title>
            </image:image>
        </url>

    {% endfor %}
</urlset>
{% endspaceless %}