<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <sitemap>
        <loc>{{ url('sitemap.games')}}</loc>
    </sitemap>
    <sitemap>
        <loc>{{ url('sitemap.tags')}}</loc>
    </sitemap>
    <sitemap>
        <loc>{{ url('sitemap.images')}}</loc>
    </sitemap>

</sitemapindex>
