<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% trans %}home{% endtrans %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="keywords" content="{% trans %}home_keywords{% endtrans %}">
        <meta name="description" content="{% trans %}home_description{% endtrans %}">

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
