{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" onclick="Page.home(); return false" style="color: red">
                    <img src="/img/online45.png"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% trans %}tags{% endtrans %}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="tag-menu">

                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" onsubmit="Page.search(this); return false">
                    <div class="form-group">
                        <input type="text" class="form-control search-input" placeholder="{% trans %}search{% endtrans %}">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container" id="page-container">

        <h1></h1>

        <div class="row" id="games">

        </div>
        <div class="loading"></div>
        <div id="game-window" class="container">
            <div class="game-info-bar">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        <div class="pull-right">
                            <span onclick="Page.toggleFull()" class="glyphicon glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                            <span onclick="Game.maxWidth(this)" class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                            <span onclick="Game.restart()" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </div>
                        <h3 class="panel-title">
                            Panel heading
                        </h3>

                    </div>
                </div>
            </div>
            <div class="game-area">
                <div class="game-container">
                    <div id="game-swf"></div>
                </div>

                <div class="game-adv">
                   <ins class="adsbygoogle"
                     style="display:inline-block;width:160px;height:600px"
                     data-ad-client="ca-pub-5994011576416099"
                     data-ad-slot="8022000941"></ins>

                </div>

            </div>

            <div class="game-info">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="description"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>



{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
{% endblock %}

{% block javascripts %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script defer src="/js/jquery-latest.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script defer src="/js/custom.js?ts=1485066517" type="text/javascript"></script>
    <script defer src="/js/swfobject.js?ts=1485066517" type="text/javascript"></script>
    <script defer src="/js/lazyloadxt.min.js" type="text/javascript"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91338360-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}