.navbar {margin-bottom: 0px}
body {background-color: #f5f5f5; }
body > .container {
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.2);
}
.row > div {padding: 0px}

.thumbnail {border: none; margin:0px;position: relative; padding:1px; }
.thumbnail .supp { display: none; color: white; position: absolute; line-height: 20px; margin-top:-20px; padding:0px 5px; background-color: black;  opacity: 0.75; overflow: hidden; height: 20px; }
.neighbor {margin-top: 800px}

.game-container {
    position: absolute;

}

.swf-controls {
    font-size: 20px;
    position: absolute;
    top: 50px;
    color: white;
    cursor: pointer;
    width: 20px;
}

.panel-heading .pull-right { font-size: 20px; color: #222; margin-top: -3px}
.panel-heading .pull-right span {cursor: pointer; margin-right: 20px}


#game-window {
    height: 780px;
    margin: 0px ;
    background-color: white;
    position: absolute;
    display: none;
    padding: 0px;
    margin-left: -16px;

}


.game-adv {float: right; width: 160px; height: 600px; box-sizing: border-box}
.game-area {background-color: #222222; padding: 15px; font-size: 0px; /*margin-bottom: 15px; */ }
.game-info {margin: 15px}
.game-info .panel{margin: 0px}
.game.active a{
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
}
.game.active img{
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.game.active {
    background-color: black;
}
.navbar-brand {
    padding: 10px;
}

.navbar-brand img {height: 30px}
.swf-controls .glyphicon{margin-bottom: 10px}

.game-info-bar .panel {margin: 0px 1px; border-radius: 0px; border: none;  }
.game-info-bar .panel .close {
    margin-top: -2px;
    color: black;
    opacity: 1;
    font-size: 44px;
    line-height: 13px; }
.game-max-width .game-adv {display: none}
.game-max-width .game-container {width: 1170px; height: 875px}
.game-max-width .swf-controls {left: 1135px}

.game-max-width .game-area {height: 870px; padding: 0px}
.game-max-width .neighbor {margin-top: 1010px}


@media (min-width: 768px) {
    .thumbnail {
        width: 186px; height: 140px
    }
    .game-adv {
        display: none;
    }
    .game-container {
        width: 720px;
        height: 540px;
    }
    .swf-controls {
        display: none;
    }

    .game-area{
        height: 570px;
    }

    .neighbor {
        margin-top: 710px;
    }
    .glyphicon-resize-full{
        display: none;
    }
    #game-window {
        height: 710px;
    }
}


@media (min-width: 992px) {
    .thumbnail {
        width: 244px; height: 182px
    }
    .game-adv {
        display: none;
    }
    .game-container {
        width: 940px;
        height: 685px;
    }
    .swf-controls {
        left: 940px;
        display: block;
    }

    .game-area{
        height: 715px;
    }

    .neighbor {
        margin-top: 855px;
    }
    .glyphicon-resize-full{
        display: none;
    }

    #game-window {
        height: 855px;
    }
}

@media (min-width: 1200px) {
    .thumbnail {
        width: 290px; height: 219px
    }
    .game-adv {
        display: block;
    }
    .game-container {
        width: 800px;
        height: 600px;
    }

    .swf-controls {
        left: 830px;
        display: block;
    }

    .game-area{
        height: 630px;
    }

    .glyphicon-resize-full{
        display: inline-block;
    }

    .neighbor {
        margin-top: 770px;
    }
    #game-window {
        height: 770px;
    }
}
